.artigos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
}

.artigos h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.artigos p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.artigos img {
  width: 100%;
  margin-bottom: 1rem;
}

.artigos a {
  color: var(--linux-sky-dark);
  font-weight: 700;
}

.artigos a:hover {
  text-decoration: underline;
}